{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center align-items-center">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="mb-3 text-center">Iniciar sesión</h3>
        <form method="post" autocomplete="on">
          <div class="mb-3">
            <label class="form-label" for="login_correo">Correo</label>
            <input id="login_correo" name="correo" type="email"
                  class="form-control" autocomplete="username" required>
          </div>
          <div class="mb-3">
            <label class="form-label" for="login_pass">Contraseña</label>
            <input id="login_pass" name="contrasena" type="password"
                  class="form-control" autocomplete="current-password" required>
          </div>
          <button class="btn btn-primary w-100">Entrar</button>
        </form>
        <div class="text-center mt-3">
          <a href="{{ url_for('auth.forgot') }}">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="text-center mt-2">
          <a href="{{ url_for('auth.registro') }}">Crear cuenta</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
